#wrap {
    width: 1200px;
    height: 700px;
}
header {
    width: 1200px;
    height: 200px;
    background-color: aquamarine;
}
section {
    width: 1200px;
    height: 400px;
    display: flex;
}
.main {
    width: 200px;
    height: 400px;
    background-color: aqua;
}
aside {
    width: 1000px;
    height: 400px;
    background-color: blue;
}
footer {
    width: 1200px;
    height: 100px;
    background-color: cornflowerblue;
}