@charset "UTF-8";

/* reset */
* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #333333;
}
a {
    display: block;
}
#wrap {
    width: 100%;
    position: relative;
}

/* 레이어 팝업 */

.popup {
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #edede9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.popup h2 {
    height: 40px;
    padding: 10px;
    background-color: #d5bdaf;
}
.popup p {
    padding: 10px;
}
.popup button {
    position: absolute;
    width: 40px;
    height: 25px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* header */

header {
    position: relative;
    display: flex;
    width: 1200px;
    height: 100px;
    background-color: #d5bdaf;

}
.logo {
    margin: 0;
    width: 200px;
    height: 100px;
}
.logo img {
    margin-top: 30px;
}
nav {
    z-index: 10;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 600px;
    height: 40px;
}
nav > ul {
    display: flex;
}
nav li {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #e3d5ca;
}
nav li:hover {
    background-color: #f5ebe0;
}
.sub-menu {
    display: none;
}

/* section */

#visual {
    width: 1200px;
    height: 300px;
    background-color: #333;
}
.slide {
    position: relative;
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slide ul {
    position: absolute;
    width: 1200px;
    height: 900px;
    animation: imgSlide 9s infinite;
}
@keyframes imgSlide {
    0% {
        top: 0;
    }
    22% {
        top:0;
    }
    33% {
        top: -300px;
    }
    55% {
        top: -300px;
    }
    66% {
        top: -600px; 
    }
    88% {
        top: -600px;
    }
    100% {
        top: -900px;
    }
}
.slide li {
    position: relative;
    height: 300px;
}
.slide p {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.8);
    color: #f5ebe0;
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    transform: translate(-50%, -50%);
}
#contents {
    display: flex;
    width: 1200px;
    height: 200px;
}
article {
    width: 400px;
    height: 200px;
}
.title {
    padding: 10px;
    width: 380px;
    height: 30px;
}
.title ul {
    display: flex;
}
.title li {
    margin: 0;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.on {
    background-color: #f5ebe0;
}
.off {
    background-color: #e3d5ca;
}

.content {
    width: 400px;
    height: 150px; 
}
.notice {
    display: none;
    width: 400px;
    height: 150px;
}
.notice li {
    position: relative;
    margin-top: 5px;
    width: 380px;
    height: 30px;
    border-bottom: 1px solid #aaa;
}
.notice span {
    position: absolute;
    right: 0;
}
.gallery {
    width: 400px;
    height: 150px;
}
.gallery ul {
    display: flex;
}
.gallery li {
    position: relative;
    width: 120px;
    height: 120px;
}
.gallery h3 {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.8);
    color: #e3d5ca;
}
.banner {
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 140px;
}
.banner img {
    width: 320px;
    height: 140px;
}
.banner h2 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,0.8);
    color: #e3d5ca;
}

/* footer */

footer {
    display: flex;
    width: 1200px;
    height: 100px;
    background-color: #d6ccc2;
}
.bt-logo {
    width: 200px;
    height: 100px;
}
.bt-logo img {
    filter: grayscale(1);
}
.copy {
    width: 800px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 1.5em;
}
.sns {
    position: relative;
    width: 200px;
    height: 100px;
}
.sns select {
    position: absolute;
    bottom: 15px;
    right: 20px;
}