@charset "utf-8";

/* reset */
* {
    margin: 0 auto;
    padding: 0;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}

/* header */
header {
    position: relative;
    width: 1340px;
    height: 100px;
    background-color: #e31a40;    
}
.logo {
    position: absolute;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: #999;
    align-content: center;
}
nav {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 600px;
    height: 60px;
    background-color: #999;
    z-index: 100;
}
nav > ul {
    display: flex;
}
nav > ul > li > a {
    width: 150px;
    height: 60px;
    text-align: center;
    align-content: center;
}
.submenu {
    height: 0;
    transition: 0.3s;
    overflow: hidden;
}
.submenu > li > a {
    height: 50px;
    color: #222;
    background-color: #bbb;
    text-align: center;
    align-content: center;
}
nav > ul:hover .submenu {
    height: 200px;
    transition: 0.3s;
}
.sub-box {
    position: absolute;
    width: 100%;
    top: 100px;
    z-index: 99;
    height: 0px;
    transition: 0.3s;
    background-color: #bbb;
}
#wrap:has(nav > ul:hover) .sub-box {
    height: 200px;
    transition: 0.3s;
}
nav a:hover {
    background-color: #c10820;
}

/* visual */
#visual {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: #444;
}
.img-list {
    position: absolute;
    width: 100%;
    height: 1050px;
    animation: img-slide 9s infinite;
}
@keyframes img-slide {
    0% {
        top: 0;
    }
    22% {
        top: 0;
    }
    33% {
        top: -350px;
    }
    55% {
        top: -350px;
    }
    66% {
        top: -700px;
    }
    88% {
        top: -700px;
    }
    100% {
        top: -1050px;
    }
}
.img-list li {
    position: relative;
    width: 100%;
    height: 350px;
}
.img-list img {
    width: 100%;
    height: 350px;
}
.img-list h1 {
    color: #e2e2e2;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 800px;
    height: 150px;
    text-align: center;
    align-content: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

/* contents */
#contents {
    position: relative;
    width: 1340px;
    background-color: #555;
}
.link {
    position: absolute;
    top: -100px;
    width: 1340px;
    height: 100px;
    background-color: #666;
}
.banner {
    width: 1340px;
    height: 200px;
    background-color: #777;
}
.notice-box {
    display: flex;
    width: 1340px;
    height: 400px;
    background-color: #888;
}
.notice {
    width: 50%;
    height: 400px;
    background-color: #999;
}
.gallery {
    width: 50%;
    height: 400px;
    background-color: #888;
}

/* footer */
footer {
    display: flex;
    width: 1340px;
    height: 100px;
}
.footer-logo {
    width: 200px;
    height: 100px;
    background-color: #777;
}
.copyright {
    width: 900px;
    height: 100px;
    background-color: #666;
}
.site {
    width: 240px;
    height: 100px;
    background-color: #555;
}